.link-panel {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;

	.link-wrapper {
		margin-top: 55px;
		margin-left: 22px;
	}
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: var(--main-white-color);
	margin-right: 75px;
	padding-left: 40px;
	margin-top: 110px;
	margin-bottom: 36px;

	.title {
		font-family: Montserrat-Black;
		font-weight: 800;
		font-size: 27px;
		margin-bottom: 12px;

	}

	.descr {
		font-family: Montserrat;
		font-weight: 500;
		font-size: 16px;

	}


}

.input-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 24px;
	margin-bottom: 20px;
	input {
		margin-bottom: 27px;
	}
	button {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 15px;
		width: 305px;
	}
}

.have-account {
	margin-top: 53px;
}
