.reviews-header {
	display: flex;
	align-items: center;
}
.reviews_link-wrapper {
	width: 45px;
	height: 45px;
	border-radius: 10px;
	background: var(--main-dark-violet);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
	margin-left: 22px;
	margin-bottom: 24px;
}
.reviews-title {
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	color: var(--main-white-color);
	margin-top: 47px;
	margin-left: 87px;
}
.reviews {
	margin-left: 25px;
	border-radius: 10px;
	background: var(--main-dark-violet);
	width: 325px;
	height: 33px;
	border: none;
	margin-bottom: 35px;
	padding-top: 18px;
}

.review-list {
	overflow: auto;
	height: 540px;
	color: var(--middle-grey-color);
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 30px;
	.review-item {
		display: flex;
		flex-direction: column;
		.review-header {
			display: flex;
			flex-direction: row;
			.review-image {
				img {
					width: 48px;
					height: 48px;
					border-radius: 50%;
					margin-right: 18px;
				}
			}
			.review-subheader{
				display: flex;
				justify-content: space-between;
				width: 300px;
				align-items: center;
				.ellipse-wrapper{
					display: flex;
					flex-direction: column;
					.ellipse{
						width: 4px;
						height: 4px;
						left: 346px;
						top: 211px;
						background: var(--middle-grey-color);
						border-radius: 50%;
						margin: 1px;
					}
				}
			}
		}
		.review-content {
			font-family: Roboto;
			font-weight: 400;
			font-size: 15px;
			margin-top: 16px;
			margin-bottom: 30px;
		}
	}
}

.review-btn_wrapper {
	display: flex;
	justify-content: center;
}