.card {
	//min-width: 100%;
	min-height: 200px;
	display: flex;
	overflow-x: auto;
	margin-left: 32px;
}

.card--content {
	background-color: #e74c3c;
	min-width: 162px;
	height: 223px;
	margin: 16px;
	border-radius: 30px;

	&:hover {
		min-width: 192px;
		height: 277px;
		box-shadow: 7px -7px 17px var(--dark-red-color);

	}
}